.container{
    margin-bottom: 40px;
}
.bg-orange{
    background-color: #fceae8;
    border-radius: 10px;
}
.carousel-item{
    padding: 20px 40px;
}
.price{
    color: #ff136f;
}
.buy-now-button{
    background-image: linear-gradient(to bottom, #FF589B 0%, #FF136F 100%);
    color: white;
    border: none;
    border-radius: 8px;
    padding: 9px 25px;
    cursor: pointer;
}
.submit-button{
    background-image: linear-gradient(to bottom, #06860c 0%, #03461a 100%);
    color: white;
    border: none;
    border-radius: 8px;
    padding: 9px 25px;
    cursor: pointer;
}
.cat1{
    background-image: linear-gradient(to bottom, #fc9bbb 0%, #f3598d 100%);
}
.cat2{
    background-image: linear-gradient(to bottom, #06860c 0%, #03461a 100%);
}
.cat3{
    background-image: linear-gradient(to bottom, #9286f7 0%, #412df5 100%);
}
.cat4{
    background-image: linear-gradient(to bottom, #7e5261 0%, #53162f 100%);
}
.cat1, .cat2, .cat3, .cat4{
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
}
.catagories h2{
    color: white;
}
.catagories img{
    width: 120px;
}
.card{
    border: none !important;
    box-shadow: 5px 5px 10px lightgray;
}
.card-footer{
    background-color: transparent !important;
    border-top: none !important;
}
.catagories a{
    color: transparent !important;
}
.mb-20{
    margin-bottom: 20px;
}
.contact{
    height: 300px;
}
.contact h6{
    color: gray;
}
footer{
    text-align: center;
}