.container{
    margin-bottom: 40px;
}
.bg-orange{
    background-color: #fceae8;
    border-radius: 10px;
}
.carousel-item{
    padding: 20px 40px;
}
.price{
    color: #ff136f;
}
.buy-now-button{
    background-image: linear-gradient(to bottom, #FF589B 0%, #FF136F 100%);
    color: white;
    border: none;
    border-radius: 8px;
    padding: 9px 25px;
    cursor: pointer;
}
.cat1{
    background-color: palevioletred;
}
.cat2{
    background-color: rgb(65, 83, 29);
}
.cat3{
    background-color:rgb(49, 49, 143);
}
.cat4{
    background-color: rgb(100, 42, 71);
}
.cat1, .cat2, .cat3, .cat4{
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
}
.catagories h2{
    color: white;
}
.catagories img{
    width: 120px;
}
.card{
    border: none !important;
    box-shadow: 5px 5px 10px lightgray;
}
.card-footer{
    background-color: transparent !important;
    border-top: none !important;
}
.catagories a{
    color: transparent !important;
}
.mb-20{
    margin-bottom: 20px;
}